/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #002145;
  color: white;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select {
  padding: 5px;
  font-size: 16px;
}

#videoList {
  margin-top: 20px;
}

.video {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Add a border around .video elements */
}

.video h3 {
  margin-top: 0;
}

.video p {
  margin-bottom: 5px;
}

.video a {
  color: #002145;
  text-decoration: none;
}

.video a:hover {
  text-decoration: underline;
}
/* Add responsive styles for smartphone screens */
@media (max-width: 768px) {
  body {
    padding: 10px; /* Adjust the padding for smaller screens */
  }

  h1 {
    font-size: 24px; /* Adjust the font size for h1 on smaller screens */
  }

  label {
    font-size: 14px; /* Adjust the font size for labels on smaller screens */
  }

  select {
    font-size: 14px; /* Adjust the font size for selects on smaller screens */
  }

    /* Add some basic styling to the form */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    
    .login-form {
      max-width: 300px;
      width: 100%;
    }
    
    .form-group {
      margin-bottom: 15px;
    }
    
    .form-group label {
      display: block;
      margin-bottom: 5px;
    }
    
    .form-group input {
      width: 100%;
      padding: 5px;
      font-size: 16px;
    }
    
    .form-group input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      cursor: pointer;
    }
    
    .form-group input[type="submit"]:hover {
      background-color: #45a049;
    }